*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  body {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: linear-gradient(135deg, #2E2EFF, #0000F0);
      font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      color: white;
      text-align: center;
    }

    h1 {
       font-size: 66px;
       margin-bottom: 10px;
       font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    .text{
        font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 45px;
        margin-bottom: 30px;
        color: #f0f0f0;
    }

    a {
      text-decoration: none;
      color: #625ccc;
      background: white;
      padding: 10px 20px;
      border-radius: 25px;
      font-weight: 600;
      transition: all 0.3s ease;
    }

    a:hover {
      background:  #2E2EFF;
      color: white;
      transform: translateY(-3px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .icon {
      font-size: 50px;
      margin-bottom: 20px;
    }