*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: #201313;
}
nav{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 200px;
    height: auto;
}
.nav-links{
    list-style-type: none;
    display: flex;
    gap: 2em;
}
.nav-links a{
    color: white;
    text-decoration: none;
    font-family: "Jet Brains", Monaco, Consolas, "Lucida Console", monospace;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}
.nav-links a:hover{
    color: #FFC726;
    text-decoration: underline;
}
.btn{
    padding: 10px 20px;
    border-radius: 20px;
    background: #CE2D2D;
    border: none;
}
.btn a{
    text-decoration: none;
    color: white;
    font-family: "Jet Brains", Monaco, Consolas, "Lucida Console", monospace;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}