*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
}
header{
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 2.5em;
}
.nav-links a{
    color: #5D677B;
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.nav-links a:hover{
    color: black;
    background-color: #EFF2FB;
    border-radius: 20px;
    padding: 12px 24px;
    transition: all .5s ease;
}
.left-side{
    display: flex;
    justify-content: space-around;
}
.logo{
    width: 200px;
    height: auto;
    margin-left: 20px;
}
.right-side{
    display: flex;
    display: flex;
    gap: .2em;
    margin-right: 20px;
}
.loginbtn{
    padding: 10px;
    border-radius: 20px;
    border: none;
    background: none;
}
.loginbtn a{
    text-decoration: none;
    color: #5D677B;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.loginbtn a:hover{
    border: 2px transparent;
    background-color: #EFF2FB;
    color: black;
    padding: 10px;
    border-radius: 20px;
    transition: all 0.7s ease;
}
.signupbtn{
     padding: 10px;
    border-radius: 20px;
    border: none;
    background: none;
}
.signupbtn a{
    color: white;
    background-color: #0069FF;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.signupbtn a:hover{
    border-radius: 20px;
    padding: 10px;
    background: #1433D6;
    color: #FFFFFF;
    transition: all 2s ease;
}
.hero-section{
    padding: 50px 20px;
    flex-wrap: wrap;
    background-image: linear-gradient(180deg, #021083, #0D26B6, #0E45E4 );
}
.hero-text{
    margin-top: 150px;
    text-align: center;
    color: white;
    font-family: Epilogue, sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
}
.buttons{
    display: flex;
    align-items: center;
    margin-left: 277px;
    gap: 1em;
    margin-top: 50px;
}
.email{
    display: flex;
    flex-wrap: wrap;
    border: none;
    background: none;
}
.email a{
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 50px;
    border-radius: 50px;
    background-color: #081B9D;
    color: white;
    text-decoration: none;
}
.email a:hover{
    background: white;
    color: black;
    transition: all 1s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.google{
    display: flex;
    flex-wrap: wrap;
    border: none;
    background: none;
}
.google a{
    padding: 12px 50px;
    border-radius: 50px;
    background-color: #FFFFFF;
    color: black;
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.google a:hover{
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);   
}
  
.video{
    margin-top: 50px;
    height: auto;
    width: 900px;
    border-radius: 20px;
}
h4{
    color: #FFFFFF;
    text-align: center;
    margin-top: 70px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}


